<div id="form-auth">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="redfield123" />
    </label>

    <label> Full Name
      <input type="text" name="fullName" placeholder="Chris Redfield" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********"  />
    </label>
 
    <button type="submit">Create account</button>
 
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </form>
</div>