<div class = "home">
<img class = "umbrellaImg"src="../images/umbrellacorp.jpeg" alt="umbrella img">

<div id = "home2">
    <img class = "umbrellaImg2"src="../images/covered2.jpg" alt="cover">
    <div class = "umbrellaImg1" >
            <img id = "miami" src="../images/arrow.png" alt="miami">
            <img id = "racoon" src="../images/arrow.png" alt="miami">
            <img id = "denver" src="../images/arrow.png" alt="miami">
            <img id = "mexico" src="../images/arrow.png" alt="miami">
            <img id = "catarina" src="../images/arrow.png" alt="miami">
            <img id = "brasil" src="../images/arrow.png" alt="miami">
            <img id = "lyon" src="../images/arrow.png" alt="miami">
            <img id = "berlin" src="../images/arrow.png" alt="miami">
            <img id = "kyiv" src="../images/arrow.png" alt="miami">
            <img id = "sydney" src="../images/arrow.png" alt="miami">
            <img id = "tokyo" src="../images/arrow.png" alt="miami">
            <img id = "shanghai" src="../images/arrow.png" alt="miami">
            <img id = "delhi" src="../images/arrow.png" alt="miami">
            <img id = "cape" src="../images/arrow.png" alt="miami">
    </div>
    
</div>

<div id = "tours">
<p>2023 Tour Dates & Locations</p>
<ul>
    <button id = "miamibut">10-13 Aug MIAMI, USA </button>
    <button id ="racoonbut">17-20 Aug RACOON CITY, USA</button>
    <button id ="denverbut">25-28 Aug DENVER, USA</button>
    <button id = "mexicobut">02-06 Sep MEXICO CITY, Mexico</button>
    <button id = "catarinabut">10-13 Sep SANTA CATARINA, Brazil</button>
    <button id = "brasilbut">17-20 Sep BRASÍLIA, Brazil</button>
    <button id = "lyonbut">26-29 Sep LYON, France</button>
    <button id ="berlinbut">02-05 Oct BERLIN, Germany</button>
    <button id ="kyivbut">08-11 Oct KYIV, Ukraine</button>
    <button id = "sydneybut">17-20 Oct SYDNEY, Australia</button>
    <button id = "tokyobut">25-28 Oct TOKYO, Japan</button>
    <button id = "shanghaibut">02-05 Nov SHANGHAI, China</button>
    <button id ="delhibut">10-14 Nov NEW DELHI, India</button>
    <button id ="capebut">19-23 Nov CAPE TOWN, South Africa</button>
</ul>

</div>
</div>
