<div class = "home">
<img class = "umbrellaImg"src="../images/umbrellacorp.jpeg" alt="umbrella img">

<div id = "home2">
    <img class = "umbrellaImg2"src="../images/covered2.jpg" alt="cover">
    <img class = "umbrellaImg1"src="../images/world.jpg" alt="umbrella img">
</div>


<div id = "tours">
<h2>2023 Tour Dates & Locations</h3>
<ul>
    <li>10-13 Aug MIAMI, USA </li>
    <li>17-20 Aug RACOON CITY, USA</li>
    <li>25-28 Aug DENVER, USA</li>
    <li>02-06 Sep MEXICO CITY, Mexico</li>
    <li>10-13 Sep SANTA CATARINA, Brazil</li>
    <li>17-20 Sep BRASÍLIA, Brazil</li>
    <li>26-29 Sep LYON, France</li>
    <li>02-05 Oct BERLIN, Germany</li>
    <li>08-11 Oct KYIV, Ukraine</li>
    <li>17-20 Oct SYDNEY, Australia</li>
    <li>25-28 Oct TOKYO, Japan</li>
    <li>02-05 Nov SHANGHAI, China</li>
    <li>10-14 Nov NEW DELHI, India</li>
    <li>19-23 Nov CAPE TOWN, South Africa</li>
</ul>

</div>
</div>
