<head>
    <title>Umbrella Corporation:{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="" href="/middleware/route-guard.js">
  </head>

<body>
  {{#if title}}
    <nav class="back-black">
  {{/if}}
  {{#unless title}}
    <nav class = "back-white">
  {{/unless}}
      <ul class = "navBar">
        <li id="to-left">
          <form id="logout-form" action="/" method="GET">
          <button>Home</button>
          </form>
        </li>
          {{#unless user}}
        <li id="to-right">
          <form id="logout-form" action="/auth/signup" method="GET">
          <button>Signup</button>
          </form>
          <form id="logout-form" action="/auth/login" method="GET">
          <button>Login</button>
          </form>
        </li>
          {{/unless}}
        {{#if user}}
        <h2>Welcome {{ user.fullName }}!</h2>
        

          {{#unless title}}

          <form class="logout-form" action="/auth/userProfile/{{user._id}}" method="GET">
          <button>Profile</button>
          </form>
          <form class="logout-form" action="/forum" method="GET">
          <button>Forum</button>
          </form>

          {{/unless}}

          <form class="logout-form" action="/auth/logout" method="POST">
          <button>Logout</button>
          </form>

          {{#unless title}}

          <form id = "employeeForm" action="/authorization/validate" method="POST">
          <input type="password" name="number" placeholder="Employee ID#" />
          <input type="password" name="password" placeholder="****" />
          <button  type="submit">Enter</button>
          </form>
          {{/unless}}


        
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
    <script src="/javascripts/script.js"></script>
  </body>