<div class = "forumDiv">
         <h2>Edit your topic</h2>
        <form class = "forumDiv" action="/forum/edit/{{foundTopic._id}}" method="POST">
        <label> Topic Name
        <textarea id = "topic"  cols="40" rows="5" name="topicName" >{{foundTopic.topicName}}</textarea>
        </label>
    
        <label> Content
        <textarea id = "content"  cols="40" rows="5" name="content">{{foundTopic.content}}</textarea>
        </label>
        <button type="submit">EDIT Topic</button>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}
    </form>
    </div>